## Numbers

In [3]:
type(1)

int

In [4]:
type(1.2)

float

In [6]:
type(1.05j)

complex

In [8]:
1.05j + 3

(3+1.05j)

In [10]:
type(1 + 2)

int

In [11]:
type(3 + 1.05)

float

In [12]:
1 == 1.0

True

In [15]:
3e-2

0.03

In [16]:
10e-30

1e-29

## Strings

In [18]:
'Hello World'

'Hello World'

In [19]:
'My name is "Kato"'

'My name is "Kato"'

In [26]:
'''
abc
defg
'''

'\nabc\ndefg\n'

In [25]:
'Hello World'[4]

'o'

In [28]:
'Hello World'[1:4]

'ell'

In [29]:
'hello{}'.format(' world')

'hello world'

In [31]:
'key is {}, value is {}'.format('key','value')

'key is key, value is value'

In [32]:
'key is {k}, value is {v}'.format(k='key',v='value')

'key is key, value is value'

In [33]:
'hello' + 'world'

'helloworld'

In [36]:
patient_id = '1234'
number = '6'
file_name = patient_id + '_' + number + '.csv'
file_name

'1234_6.csv'

In [38]:
file_name = '{}_{}.csv'.format(patient_id,number)
file_name

'1234_6.csv'

In [39]:
'hello world'.split(' ')

['hello', 'world']

In [40]:
type('hello world'.split(' '))

list

In [42]:
file_name.split('.')

['1234_6', 'csv']

In [43]:
' '.join(['hello','world'])

'hello world'

## lists

In [50]:
list1 = [1,'hello',3]

In [47]:
list1[0]

1

In [51]:
list2 = ['one','two']
list1.append(list2)
list1

[1, 'hello', 3, ['one', 'two']]

In [52]:
list1[3][0]

'one'

In [53]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [59]:
a = [1,2,3]
b = [4,5,6]
a.append(b)
a

[1, 2, 3, [4, 5, 6]]

## Dictionary

In [65]:
dict1 = {'key1':'value1','key2':'value2',3:'value3'}

In [64]:
dict1['key1']

'value1'

In [66]:
dict1[3]

'value3'

In [67]:
dict1['key4'] = 'value4'

In [68]:
dict1

{'key1': 'value1', 'key2': 'value2', 3: 'value3', 'key4': 'value4'}

In [69]:
dict1['key1'] = 'value update'

In [70]:
dict1

{'key1': 'value update', 'key2': 'value2', 3: 'value3', 'key4': 'value4'}

In [72]:
dict1.keys()

dict_keys(['key1', 'key2', 3, 'key4'])

In [73]:
dict1.values()

dict_values(['value update', 'value2', 'value3', 'value4'])

## Boolean

In [75]:
True

True

In [76]:
False

False

## Tuples

In [77]:
tuple1 = (1,2,3)

In [78]:
tuple1

(1, 2, 3)

In [80]:
tuple1[1]

2

In [81]:
tuple[1] + 2

TypeError: 'type' object is not subscriptable

In [82]:
## Set

In [83]:
set1 = {1,1,1,2,2,2}

In [84]:
set1

{1, 2}

## Casting

In [86]:
int(1.9)

1

In [87]:
int('1')

1

In [88]:
float(1)

1.0

In [90]:
float('1')

1.0

In [91]:
bool(1)

True

In [92]:
bool(0)

False

In [94]:
bool(2)

True

In [95]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [96]:
list1 = [1,2,2,2,2,3,3,3,3,4,2,2,2]
set(list1)

{1, 2, 3, 4}

## 演算子(Operater)

In [97]:
1 + 1

2

In [98]:
3 - 1

2

In [99]:
2 * 2

4

In [100]:
2 / 5

0.4

In [101]:
2 ** 3

8

In [102]:
2 // 5

0

In [103]:
16 // 5

3

In [104]:
16 % 5

1

In [105]:
0 // 4

0

In [106]:
0 % 4

0

In [107]:
i = 0

In [108]:
i

0

In [109]:
i = i + 1

In [111]:
i

1

In [112]:
i += 1

In [113]:
i

2

In [114]:
3 > 1

True

In [115]:
3 <= 3

True

In [116]:
3 == 4

False

In [117]:
3 != 3

False

In [118]:
'h' in 'hello'

True

In [119]:
'w' in 'hello'

False

In [120]:
'w' in ['w','f','g','t']

True

In [121]:
True and True

True

In [122]:
False and False

False

In [123]:
True or False

True

In [124]:
(4 > 2) and (1 > 3)

False

In [126]:
t

NameError: name 't' is not defined

In [127]:
a = 1
(a == 1) or (t == 1)

True

In [128]:
a = [1,2]
b = [1,2]

In [129]:
a == b

True

In [130]:
a is b

False

In [131]:
a is not b

True

In [132]:
id(a)

139958024451168

In [133]:
id(b)

139958024363216

In [134]:
None

In [135]:
a = None

In [138]:
a is None

True

In [139]:
id(a)

93974471438192

In [140]:
b = None

In [141]:
id(b)

93974471438192

In [142]:
a is b

True

## if文

In [150]:
a = 3

In [146]:
if a == 2:
    print('a is 2')
else:
    print('a is not 2')

a is not 2

In [151]:
if a == 2:
    print('a is 2')
elif a <= 1:
    print('a is less than and equal 1')
else:
    print('other')

other

In [152]:
print('a is 2') if a == 2 else print('a is NOT 2')

a is NOT 2

# Loop処理

## for文

In [5]:
colors = ['red', 'blue', 'green', 'yellow', 'white']
favorite_color = 'blue'
for color in colors:
    if color == favorite_color:
        print('{} is my favorite'.format(color))
    else:
        print('{} is NOT my favorite'.format(color))

red is NOT my favorite
blue is my favorite
green is NOT my favorite
yellow is NOT my favorite
white is NOT my favorite

In [8]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
colors = ['red', 'blue', 'green', 'yellow', 'white']
favorite_color = 'blue'
for idx, color in enumerate(colors):
    if color == favorite_color:
        print('{}: {} is my favorite'.format(idx, color))
    else:
        print('{}: {} is NOT my favorite'.format(idx, color))

0: red is NOT my favorite
1: blue is my favorite
2: green is NOT my favorite
3: yellow is NOT my favorite
4: white is NOT my favorite

## リスト内包表記(List Comprehensions)

In [2]:
colors = ['red', 'blue', 'green', 'yellow', 'white']
colors_png = ['red.png', 'blue.png', 'green.png', 'yellow.png', 'white.png']

In [3]:
colors_png = []
for color in colors:
    color_png = color + '.png'
    colors_png.append(color_png)

In [4]:
colors_png

['red.png', 'blue.png', 'green.png', 'yellow.png', 'white.png']

In [8]:
colors_png = [color + '.png' for color in colors]

In [9]:
colors_png

['red.png', 'blue.png', 'green.png', 'yellow.png', 'white.png']

## while文

In [11]:
i = 0
while i < 5:
    print('{} is less than 5'.format(i))
    i += 1

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5

# イテラブル(Iterable)とイテレータ(Iterator)

#### Iterable:iter()関数でIteratorを返すオブジェクト
#### Iterator:next()関数でIterableできるオブジェクト

In [25]:
r = range(10)

In [27]:
r_i = iter(r)

In [29]:
next(r_i)

1

In [30]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
colors = ['red', 'blue', 'green', 'yellow', 'white']
for color in colors:
    print(color)

red
blue
green
yellow
white

In [17]:
for char in 'red':
    print(char)

r
e
d

#### colors も red もイテレータ可能なイテラブルだからfor文が回せられた

In [19]:
colors_i = iter(colors)

In [21]:
next(colors_i)

'blue'

## 関数(Function)

In [15]:
def function_name(param1, param2='hello'):
    """
    This function prints something
    
    Usage
    ---------------------
    arg1 = 'argument1'
    arg2 = 'argument2'
    function_name(arg1, arg2)
    
    Parameters
    ---------------------
        param1: explain param1
        param2: explain patam2
    
    Return
        strings: param1 and param2
    """
    print('Do something for {} and {}'.format(param1, param2))    
    return param1 + ' and ' + param2

In [6]:
arg1 = 'argument1'
arg2 = 'argument2'

function_name(arg1, arg2)
print('hello world')

Do something for argument1 and argument2
hello world

In [7]:
_

'argument1 and argument2'

In [10]:
function_return = _

In [12]:
function_return

'argument1 and argument2'

In [5]:
function_return

'argument1 and argument2'

In [14]:
function_name('world')

Do something for world and hello

'world and hello'

In [ ]:
function_name()

## Mutable vs Immutable

In [16]:
list_a = [1, 2, 3]

In [17]:
id(list_a)

139689450159472

In [18]:
list_a += [4, 5, 6]

In [19]:
list_a

[1, 2, 3, 4, 5, 6]

In [20]:
id(list_a)

139689450159472

In [21]:
a = 3
print(id(a))
a += 4
print(a)
print(id(a))

94305772471104
7
94305772471232

In [8]:
def append_elem(param1, elem=0):
    param1.append(elem)
    return param1

In [15]:
list_a = [1, 2, 3]
# 参照渡し
list_b = append_elem(list_a, elem=4)

In [16]:
list_b

[1, 2, 3, 4]

In [17]:
list_a

[1, 2, 3, 4]

In [18]:
def add_num(param1, num=0):
    param1 += num
    return param1

In [19]:
num_a = 4
# num_b=7
# 値渡しのような挙動をする
num_b = add_num(num_a, num=3)

In [20]:
num_b

7

In [21]:
num_a

4

## Lambda関数

In [25]:
def func(a):
    return a + 1

In [23]:
x = lambda a: a + 1

In [26]:
func(4)

5

In [27]:
x(5)

6

In [2]:
# 'image1'
url = '/home/user/Desktop/image1.jpg'

In [1]:
def abc(a):
    return a.split('/')[-1].split('.')[0]

In [3]:
abc(url)

'image1'

In [33]:
url.split('/')

['', 'home', 'user', 'Desktop', 'image1.jpg']

In [5]:
x = lambda a: a.split('/')[-1].split('.')[0]

In [6]:
x(url)

'image1'

# 演習(Exercises) -関数-

## リストを引数にして、各要素に、'_<その要素のindex番号>.png'を付けたリストを返す関数

### ['filename1','filename2','fikename3']が

### ['filename1_0.png','filename2_1.png','fikename3_2.png']になる

In [31]:
file_name = ['filename1','filename2','fikename3']
file_change(file_name)

['filename1_0.png', 'filename2_1.png', 'fikename3_2.png']

In [30]:
def file_change(param):
    cnt = 0
    new_file = []
    for i in param:
        new_file.append(i + '_' + str(cnt) + '.png')
        cnt += 1
    return new_file

In [8]:
def add_png(filename_list):
    """
    各要素に、'_<その要素のindex番号>.png'を付けたリストを返す
    
    ['filename1','filename2','fikename3'] ==>> ['filename1_0.png', 'filename2_1.png', 'fikename3_2.png']
    
    Patameter
    -----------------------
        filename_list: ファイル名のリスト
        
    Return
    -----------------------
        result_list: filename_listの要素に、'_<その要素のindex番号>.png'を付けたリスト'
    """
    result_list = []
    
    for idx, filename in enumerate(filename_list):
#        result_list.append(filename + '_' + str(idx) + '.png')
        result_list.append('{}_{}.png'.format(filename, idx))
    
    return result_list

In [22]:
file_name = ['filename1','filename2','fikename3']
add_png(file_name)

['filename1_0.png', 'filename2_1.png', 'fikename3_2.png']

In [26]:
# リスト内包表記
def add_extention(filename_list, extention='.png'):
    """
    各要素に、'_<その要素のindex番号>.png'を付けたリストを返す
    
    ['filename1','filename2','fikename3'] ==>> ['filename1_0.png', 'filename2_1.png', 'fikename3_2.png']
    
    Patameter
    -----------------------
        filename_list: ファイル名のリスト
        
    Return
    -----------------------
        result_list: filename_listの要素に、'_<その要素のindex番号>.png'を付けたリスト'
    """
    return ['{f}_{i}{e}'.format(f=filename, i=idx, e=extention) for idx, filename in enumerate(file_name)]

In [40]:
x = lambda filename_list, extention='.png': ['{f}_{i}{e}'.format(f=filename, i=idx, e=extention) for idx, filename in enumerate(file_name)]

In [41]:
x(file_name)

['filename1_0.png', 'filename2_1.png', 'fikename3_2.png']

In [30]:
add_extention(file_name, '.jpg')

['filename1_0.jpg', 'filename2_1.jpg', 'fikename3_2.jpg']

In [17]:
a = [1, 2, 3]
# b = [10, 20, 30]
b = [aa * idx for idx, aa in enumerate(a)]
b

[0, 2, 6]

In [6]:
list_a = ['file1','file2','file3']
list_b = []

In [20]:
for i in list_a:
    list_b.append(i + '_' + str(cnt))
list_b

['file1_0', 'file1_0', 'file1_0', 'file1_0', 'file2_0', 'file3_0']

In [26]:
cnt = 0
new_file = []
for i in file_name:
    new_file.append(i + '_' + str(cnt) + '.png')
    cnt += 1
new_file

['filename1_0.png', 'filename2_1.png', 'fikename3_2.png']

#　*argsと**kwatgs

In [42]:
def func1(a, b):
    return a + b

In [43]:
def func2(*args):
    return args[0] + args[1]

##### 作ってみよう：.pngのファイル名だけをリストで返す
return_only_png('image1.png', 'image2.jpg') ==>> 'image.png'

In [97]:
def return_only_png(*args):
    new_filename = []
    for idx, filename in enumerate(args[0]):
        if filename.split('.')[-1] == args[1]:
            new_filename.append(filename.split('.')[0])
    return new_filename

In [98]:
file_name = ['image1.png', 'image2.jpg']
return_only_png(file_name,'jpg')

['image2']

In [103]:
def print_dict(**kwargs):
    param_a = kwargs.get('a')
    print(param_a)

In [104]:
print_dict(a=1, b=2)

1

In [107]:
list_a = [1, 2, 3]
list_b = [4, 5, 6, 7]
list_a_b = [*list_a, *list_b]
list_a_b

[1, 2, 3, 4, 5, 6, 7]

In [109]:
dict_a = {'onr': 1, 'two': 2}
dict_b = {'three': 3, 'four': 4, 'five': 5}
dict_a_b = {**dict_a, **dict_b}

In [110]:
dict_a_b

{'onr': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [113]:
def add_extension(filename, idx=0, extension='.png'):
    
    return '{}_{}{}'.format(filename, idx, extension)

In [115]:
add_extension('image1', idx=2, extension='.jpg')

'image1_2.jpg'

In [118]:
def wrap_add_extension(args):
    return add_extension(*args)

In [119]:
arg_tuple = ('images1', 2, '.jpg')
wrap_add_extension(arg_tuple)

'images1_2.jpg'

In [121]:
arg_list = [('image1', 2, '.png'),
            ('image2', 3, '.jpg'),
            ('image7', 5, '.csv')]
[ wrap_add_extension(arg) for arg in arg_list]

['image1_2.png', 'image2_3.jpg', 'image7_5.csv']

In [124]:
def func(a, b):
    return a*10, b*10

In [125]:
r = func(10, 20)

In [126]:
r

(100, 200)

In [127]:
x, y = r

In [128]:
print(x, y)

100 200

In [147]:
def abc(a,b):
    a.append(b)
    return a

a = [1, 2, 3]
b = [4]
c = abc(a, b)

In [148]:
c

[1, 2, 3, [4]]

In [149]:
b

[4]

In [150]:
a

[1, 2, 3, [4]]

In [153]:
def dhl(a, b):
    a = a * b
    return a

a = 3
b = 4
c = dhl(a, b)

In [154]:
print(a, b, c)

3 4 12